#hiskio-announcement {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiskio-banner {
  background-color: #f0e9d7;
}

#hiskio-banner-img {
  width: 100%;
}

.hiskio-container {
  background-color: #f0e9d7;
}

.hiskio-warp {
  max-width: 1140px;
  margin: auto;
}

#hiskio-footer-img {
  width: 100%;
}

#hiskio-lion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiskio-lionTalking {
  min-width: 665px;
  background: url("/assets/talking2.png") no-repeat;
  background-size: contain;
  border: 1px solid black;
}

#hiskio-coins {
  display: flex;
  justify-content: center;
}

#hiskio-flags {
  display: flex;
  justify-content: center;
}

.hiskio-flag {
  width: 270px;
  height: 310px;
}

#hiskio-flag-past {
  width: 270px;
  height: 310px;
  background: url("../assets/past.png") no-repeat;
  background-size: cover;
}

#hiskio-flag-now {
  width: 270px;
  height: 310px;
  background: url("../assets/now.png") no-repeat;
  background-size: cover;
}

#hiskio-flag-future {
  width: 270px;
  height: 310px;
  background: url("../assets/future.png") no-repeat;
  background-size: cover;
}

#hiskio-course {
  padding: 150px 0px;
  background-color: #e2d7c0;
}

#hiskio-introBar-wrap {
  display: flex;
  justify-content: center;
}

#hiskio-introBar {
  border-top: 40px solid #590a10;
  color: #590a10;
  padding: 25px 225px;
  font-size: 27px;
  background-color: #e2d7c0;
}

#hiskio-introBar-btn {
  display: flex;
  justify-content: center;
}

#hiskio-introBar-btn > div {
  background-color: #f1c74f;
  border: 2px solid #be9360;
  padding: 30px 15px;
  border-radius: 10000px;
  margin: 20px 0px;
}

#hiskio-coupon {
  padding-top: 120px;
  padding-bottom: 280px;
}

#hiskio-course-container {
  position: relative;
}

#hiskio-introBar-container {
  position: absolute;
  left: 50%;
  top: -100px;
}
