#hiskio-announcement {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiskio-banner {
  background-color: #f0e9d7;
}

#hiskio-banner-img {
  width: 100%;
}

.hiskio-container {
  background-color: #f0e9d7;
}

.hiskio-warp {
  max-width: 1140px;
  margin: auto;
}

#hiskio-footer-img {
  width: 100%;
}

#hiskio-lion {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hiskio-lionTalking {
  min-width: 665px;
  background: url("/assets/talking2.png") no-repeat;
  background-size: contain;
  border: 1px solid black;
}
